TesteWCF/Web References/smartparking/Servico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.smartparking.somee.com/Servico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.smartparking.somee.com/Servico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.smartparking.somee.com/Servico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ParkingService" />
      <xsd:import schemaLocation="http://www.smartparking.somee.com/Servico.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServico_ListarAndares_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarAndares" />
  </wsdl:message>
  <wsdl:message name="IServico_ListarAndares_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarAndaresResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_ListarBlocos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarBlocos" />
  </wsdl:message>
  <wsdl:message name="IServico_ListarBlocos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarBlocosResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_ListarVagas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarVagas" />
  </wsdl:message>
  <wsdl:message name="IServico_ListarVagas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarVagasResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_ReservarVaga_InputMessage">
    <wsdl:part name="parameters" element="tns:ReservarVaga" />
  </wsdl:message>
  <wsdl:message name="IServico_ReservarVaga_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservarVagaResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_ConsultaSituacaoVaga_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaSituacaoVaga" />
  </wsdl:message>
  <wsdl:message name="IServico_ConsultaSituacaoVaga_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaSituacaoVagaResponse" />
  </wsdl:message>
  <wsdl:message name="IServico_LocalizarCarro_InputMessage">
    <wsdl:part name="parameters" element="tns:LocalizarCarro" />
  </wsdl:message>
  <wsdl:message name="IServico_LocalizarCarro_OutputMessage">
    <wsdl:part name="parameters" element="tns:LocalizarCarroResponse" />
  </wsdl:message>
  <wsdl:portType name="IServico">
    <wsdl:operation name="ListarAndares">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/ListarAndares" message="tns:IServico_ListarAndares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/ListarAndaresResponse" message="tns:IServico_ListarAndares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarBlocos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/ListarBlocos" message="tns:IServico_ListarBlocos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/ListarBlocosResponse" message="tns:IServico_ListarBlocos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarVagas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/ListarVagas" message="tns:IServico_ListarVagas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/ListarVagasResponse" message="tns:IServico_ListarVagas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReservarVaga">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/ReservarVaga" message="tns:IServico_ReservarVaga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/ReservarVagaResponse" message="tns:IServico_ReservarVaga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaSituacaoVaga">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/ConsultaSituacaoVaga" message="tns:IServico_ConsultaSituacaoVaga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/ConsultaSituacaoVagaResponse" message="tns:IServico_ConsultaSituacaoVaga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LocalizarCarro">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico/LocalizarCarro" message="tns:IServico_LocalizarCarro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico/LocalizarCarroResponse" message="tns:IServico_LocalizarCarro_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServico" type="tns:IServico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarAndares">
      <soap:operation soapAction="http://tempuri.org/IServico/ListarAndares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarBlocos">
      <soap:operation soapAction="http://tempuri.org/IServico/ListarBlocos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarVagas">
      <soap:operation soapAction="http://tempuri.org/IServico/ListarVagas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReservarVaga">
      <soap:operation soapAction="http://tempuri.org/IServico/ReservarVaga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaSituacaoVaga">
      <soap:operation soapAction="http://tempuri.org/IServico/ConsultaSituacaoVaga" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocalizarCarro">
      <soap:operation soapAction="http://tempuri.org/IServico/LocalizarCarro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico">
    <wsdl:port name="BasicHttpBinding_IServico" binding="tns:BasicHttpBinding_IServico">
      <soap:address location="http://www.smartparking.somee.com/Servico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>